/* Header Section Style Start */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  font-size: 2.4em;
  font-weight: 800;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 2.4rem;
}

.link-list {
  display: flex;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  box-sizing: border-box;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 1px solid #f9faf8;
}

.nav-link.nav-btn:link,
.nav-link.nav-btn:visited {
  padding: 0.5em 1em;
  border: 3px solid #3882f6;
  border-radius: 4px;
  transition: all 0.3s;
}

.nav-link.nav-btn:hover,
.nav-link.nav-btn:active {
  background-color: #3882f6;
}

/* Hero Section Style Start */

.hero {
  display: flex;
  height: 50em;
  align-items: center;
  justify-content: space-around;
  gap: 2.4em;
  padding: 1em 2.4em;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50em;
}

.text-hero {
  margin-bottom: 3.8em;
}

.hero-img-box {
  box-shadow: 10px 10px 0 rgb(0, 0, 0);
}

.hero-img {
  width: 100%;
  height: 100%;
}

/* Curriculum Section Style Start */

.curriculum {
  background-color: #fff;
  padding: 3.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35em;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 8.8em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2em;
}

.card-img-box {
  padding: 1em;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

.icons {
  width: 50%;
  height: 50%;
}

.card-text {
  color: #1f2937;
}

/* Testimonial Section Style Start */

.testimonila {
  padding: 3.6em 6.2em;
  background-color: #e5e7eb;
}

.quote {
  font-size: 2.4em;
  font-weight: 300;
  color: #1f2937;
  margin-bottom: 0.5em;
}

.author {
  font-weight: 800;
  text-align: right;
  color: #1f2937;
}

/* CTA Section Style Start */

.cta-section {
  display: flex;
  justify-content: center;
  color: #f9faf8;
  background-color: #fff;
  padding: 4.8em;
}

.cta {
  background-color: #3882f6;
  border-radius: 12px;
  padding: 3.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4.8em;
  width: 700px;
}

.cta-text-box {
  display: flex;
  flex-direction: column;
}

.cta-btn:link,
.cta-btn:visited {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  padding: 1em 3em;
  border: 2px solid #f9faf8;
  border-radius: 9px;
  text-align: center;
  transition: all 0.3s;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: #f9faf8;
  color: #3882f6;
}

footer {
  text-align: center;
  padding: 1.6em;
}
